* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main {
	padding: 100px;
}

h1 {
	background-color: #FFED74;
	font-family: Overpass, sans-serif;
	font-size: 300%;
	text-transform: uppercase;
	letter-spacing: 3px; 
	text-align: center;
	margin-top: 110px;
}

a:link {
	font: Overpass;
	color: #000000;
	text-decoration: none;
	margin: 16px;
}

a:hover {
    color: #DF8CAB;
    text-decoration: none;
}	

a:visited {
	color: #A9A9A9;
}

nav {
	font-family: Overpass, sans-serif;
	font-size: 90%;
	letter-spacing: 1px;
	display:block;
	text-align: center;
	text-transform: uppercase;
	margin-top: 12px;
	margin-bottom: 60px;
}

.cases {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 10px;
}

.cases figure {
	width: 33.33%;
	float: left;
	padding: 10px;
}

.clearfix:after {
	content:"";
	display:block;
	clear:both;
}

div {
	text-align: center;
}

.intro {
	font-family: Habibi, serif;
	color: #000000;
	font-size: 150%;
	line-height: 1.5em;
	text-align: center;
	padding-bottom: 60px;
	margin: 0 16% 60px;
	border-bottom: solid 2px #D0E5DD;
}

.foot {
	color: #07778A;
	font-family: Overpass, sans-serif;	
	font-size: 15px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	align-items: center;	
	justify-content: center;
	width: 12%;
	margin: 50px auto auto auto;
	border: 3px solid #D8E0E5;
}

.malin
	{background-image: url("images/Malin_thumb_white.jpg");
    /*width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 2px;*/
}

	}
.malin:hover {
    background-image: url("images/Malin_thumb_color.jpg");
    /*width: 100%;
	max-width: 1024px;
	margin: 0 auto;*/
	transition: .3s ease;
}

img {
	width: 100%;
	display:block;
	}