h1 {font-size: 140%;
	text-align: left;
	margin-left: 60px;
	margin-top: 45px;
}

a {color: #FFAE09;
	font-size: 100%;
	text-decoration: none;
	margin: 10px;
}

nav {font-size: 100%;
	text-align: left;
	margin: 30px;
	margin-bottom: 60px;	
}

p {color: #000000;
	font-size: 135%;
	text-align: center;
	margin-left: 210px;
	margin-right: 210px;
}
